[submodule "nvim"]
	path = nvim
	url = https://github.com/needkofea/nvim-config.git
[submodule "sddm/nightcore"]
	path = sddm/nightcore
	url = https://github.com/needkofea/nightcore.git
[submodule "starship"]
	path = starship
	url = https://github.com/needkofea/config-starship
